<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 ">
    <div class="container">
        <a href="/home" class="navbar-brand text-secondary">StudyBuddy</a>
        <button class="navbar-toggler"
         type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navmenu"
        ><span class="navbar-toggler-icon"></span></button>
        <div class="container" style="width: 30%;">
        <form action="/" method="GET" class="form-control">
            <input type="text" name='q' placeholder="Search rooms..."/>
        </form>
        {% if request.user.is_authenticated %}
        <p class="h1 text-light">Hello {{ request.user }}</p>
        <a href="{% url 'base:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'base:loginpage' %}">Login</a>
        {% endif %}
    </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto text-dark">
                <li class="nav-item">
                    <a href="/product" class="nav-link text-light">Discussions</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link text-light">About</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link text-light">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>